@model List<string>

<h1>Courses</h1>
<table class="table">
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <th>
                    @p
                </th>
                <td>
                    <a href="courses/@p.ToLower()"> See Students of this course </a>
                </td>
            </tr>
        }
    </tbody>
</table>